:root {
	// COLORS
	--color-primary: #00ddc2;
	--color-secondary: #f2f2f2;
	--color-tertiary: #1b1b1b;
	--color-error: #ff4d4d;
	--color-grey: #444;
	--color-grey-light: #999;
	--color-grey-dark: #101010;
}
