.workers-page {
	width: 100%;
	max-width: 120rem;
	min-height: 75vh;
}

.workers-container {
	padding: 0rem 2rem;
}

@media only screen and (max-width: 37.5em) /* 600px */ {
	.workers-container {
		padding: 0rem 0rem;
	}
}
