@import './../../sass/main.scss';

.nav-link {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 3rem;
	color: var(--color-secondary);
	font-size: 2rem;

	&:hover {
		background-color: var(--color-grey-dark);
	}

	&--active {
		background-color: var(--color-grey-dark);
		color: var(--color-primary);
	}

	@include respond(phone) {
		padding: 2rem;
	}
}
