.workers-container {
	width: 100%;
	max-width: 120rem;
	min-height: 75vh;
	padding: 3rem 5rem;
	background-color: var(--color-tertiary);
	border-radius: 1rem;
	box-shadow: 0 0 2rem var(--color-tertiary);
}

@media only screen and (max-width: 37.5em) /* 600px */ {
	.workers-container {
		padding: 3rem 2rem;
	}
}
